
html,body{ 
	width:100%;
	height:100%;
	background:#ffff;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font-family: 'Fira Sans', sans-serif;
  /*font:normal 75% Arial, Helvetica, sans-serif;*/
}
hr{
  background: #b61924;
}

canvas{
  display:block;
  vertical-align:bottom;
}
.sidebar1{
  background:#ffff;
  opacity:0.8;
  padding:2em;
  position: absolute;
  top:70px;
  left:10px;
}
.sidebar{
  background:#ffff;
  opacity:0.8;
  padding:2em;
  position: absolute;
  top:70px;
  left:10px;
}
.right{ 
  padding-left: 0px;
  position: absolute;
  top:70px;
  right: 50px;
  left:400px;
}

/* ---- particles.js container #b61924;---- 3e64ff*/

#particles-js{
  width: 100%;
  height: 120%;
  background-color: #b61924;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

 
.center-form{
  margin-left: 100px!important;


}
.customLink, .customLink:hover{
  color:white;
  text-decoration: none;
}
.wrong-count ,.correct-count{
  background-color: #fff;
    display: block;
    margin: 10px 0px 10px 50px;
    padding:30px;
    opacity: 0.8;
    color:black;
    position: relative;
}
#question{
 margin-left: 40px!important;
 
}
.submit-btn {
  color: #fff !important;
text-transform: uppercase;
background: #b61924;
padding: 10px;
border: 2px solid #fff;
border-radius: 7px;
display: inline-block;
max-width: 500px;
transition: all 0.3s ease 0s;
margin-left:14rem;
}
.submit-btn:hover {
  color: #b61924 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: #fff;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  transition: all 0.3s ease 0s;
  }
  h5{
    color:#b61924; ;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
  
  #clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
  
  #clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #dd6c74;
    display: inline-block;
  }
  
  #clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #b61924;
    display: inline-block;
  }
  
  .smalltext{
    padding-top: 5px;
    font-size: 16px;
  }

  @media screen and (min-width : 768px) and (max-width : 1024px) {
    .right{
      margin-left:-150px;
      margin-right: 3px;
      top: 14px;
      position: relative;
    }
    .sidebar{
      right:0px!important;
    }
    .sidebar1{
      right:0px!important;
    }
    #username,#profileimage, #edit{
      postion:absolute;
      margin-left: 10px;
      margin-right: 10px;
      padding-left:20px;
      padding-right:20px
   }
   #username{
     margin-left:40px!important;
   }
   .content-text{
    display: none;
  }
  .wrong-count ,.correct-count{
   
      margin: px 15px 5px 50px;
      padding:10px;
      opacity: 0.8;
      color:black;
      position: relative;
  }
  .wr,.at,.cr{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
  }
  .question{
    margin-top: 0px;
    margin-bottom: 0px!important;
  }
  #back{
    padding: 3px!important;
    margin-right:12px!important;
  }
   .time{
     margin-left: 10px!important;
     margin-top: 6px!important;
     
   }
   .ruler{
     display: none;
   }
   #submit{
     position:relative;

   }
}

@media screen and (min-width : 320px) and (max-width : 480px) {
  .right{ 
    padding-left: 0px;
    position: relative;
    top:5px;
    right: 2px;
    left:3px;
  }
  .sidebar{
    background:#b61924;
    position: relative;
    margin-top: -70px!important;
    /*margin-right: 3px;
    padding:2em;
    top:120px;
    left:3px;
    display: none;*/
  }
  .sidebar1{
    background:#b61924;
    position: relative;
    margin-top: -70px!important;
    margin-left:-30px!important;
  }
    #profileimage{
     /* postion:absolute;
      margin-left: 50px;
      padding-left:40px;
      margin-top: -20px;*/
      display: none
    }
    #edit{/*
      postion:absolute;
      margin-left: 50px;
      padding-left:40px;*/
      display: none;
    }
    .content-text{
      display: none;
    }
    .question{
     postion:absolute;
     margin-top: -20px;
     margin-left: 45px;
     padding-left: 40px;
    }
    .line{
      margin-top: 1px!important;
    }
    #right{
      background: #b61924!important;
      top: 30px!important;
      left: -7px;
     
    }
    .left_side,.middle_side,.right_side{
      margin-left:26px!important;
    }
    .text-dark{
      display: none;
    }
    #back{
      margin-left: 60px!important;
      display: none;
    }
    #back2{
      margin-left: 2px!important;
    }
    #username{/*
      postion:absolute;
      margin-left: 60px;
      padding-left:40px;*/
      display: none;
    }
    .time{
      margin-left: 60px!important;
      margin-top:-650px!important;
      padding-top: 2px!important;
      padding-bottom: 2px!important;
      position:relative;
    }
 
    .wrong-count ,.correct-count{
    
      margin-right: 10px!important;
      padding: 10px;
    }
    .submit-btn{
      margin-left: 80px!important;
      cursor: pointer;
    }
    .edit_profile,.edit_button{
      margin-left: 0px!important;
      display: none;
    }
    .edit_input{
      margin-left: 8px!important;
      display: none;
    }
    
    
    .top-right{
      background:#000!important;
    }
}
